.delete-span{
	    position: absolute;
    z-index: 999;
    right: 10px;
    top: 53px;
    font-size: 35px;
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
form { 
    background: #ccc;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 16px;
        max-width: 600px;
        width: 100%;
}

form ol {
  padding-left: 0;
}

form li, div > p {
  background: #040303;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  border: 1px solid black;
}

form img {
height: 500px;
    width: 100%;
    order: 1;
}

form p {
  line-height: 32px;
  padding-left: 10px;
}

.fileUpload, form button {
  background-color: #4c4b4b;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}

.fileUpload:hover, form button:hover {
  background-color: #222222;
  color: white;
}

.fileUpload:active, form button:active {
  background-color: 4c4b4b;
  color: white;
}
.fileUpload{
	color:white;
}
.formInput {
	border-radius: 13px;
}
.btn{
	    width: 100%;
    height: 35px;
    font-size: 15px;
   }
.lbl{
	font-family: "Graphik-Bold-Web", Helvetica, Roboto, Arial, sans-serif;
}
.btn-success{
	background-color: #5bc0de!important;
    height: 25px;
    border-radius: 8px;
    width: 25%;
    margin-right: 50%;

}
.btn-danger{
	background-color: #d9534f!important;
    height: 25px;
    border-radius: 8px;
    width: 20%;
    margin-left: 3%;
}

.btn-primary{
    margin-left: 94%;
    margin-bottom: 15px;
    width: 80px;
    height: 35px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 8px;
}
.right-menu{
position: absolute;
    background-color: #f7f7f7 !important;
    color: black;
    width: 80px;
    margin-left: -4px;
    margin-top: 4px;
    padding: 3px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 6px;
}
.img-right{
  width: 14px;float: left;margin-top: 5px;
}
.top-bar-right{
  color: black; margin-right: 20px;
}
.float-right{
  float: right;
}
.btn-pType{
      margin-right: 95%;
    margin-top: -55px;
    background-color: #5cb75c;
    min-width:150px;
    width: auto;
    border-radius: 5px;
    padding: 1%;
}
.form-cancel{
  color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3%;
    width: 255px;
    display: none;
}

